<a href="https://colab.research.google.com/github/Shrutiba/iisc_cds/blob/main/M2_AST_07_Catboost_XGBoost_LightGBM_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advanced Certification Program in Computational Data Science

##  A program by IISc and TalentSprint

### Assignment: Catboost, XGBoost and LightGBM

## Learning Objectives
At the end of the experiment, you will be able to :

* perform data preprocessing
* perform feature transformation
* implement CatBoost, XGBoost and LightGBM model to perform classification using Lending Club dataset

In [ ]:
#@title Walkthrough Video
from IPython.display import HTML
HTML("""<video width="420" height="240" controls>
<source src="https://cdn.chn.talentsprint.com/content/CatBoost_LightGBM_XGBoost.mp4">
</video>""")

## Introduction

**XGBoost** was originally produced by University of Washington researchers and is maintained by open-source contributors. XGBoost is available in Python, R, Java, Ruby, Swift, Julia, C, and C++. Similar to LightGBM, XGBoost uses the gradients of different cuts to select the next cut, but XGBoost also uses the hessian, or second derivative, in its ranking of cuts. Computing this next derivative comes at a slight cost, but it also allows a greater estimation of the cut to use.

**CatBoost** is developed and maintained by the Russian search engine Yandex and is available in Python, R, C++, Java, and also Rust. CatBoost distinguishes itself from LightGBM and XGBoost by focusing on optimizing decision trees for categorical variables, or variables whose different values may have no relation with each other (eg. apples and oranges).

**LightGBM** is a boosting technique and framework developed by Microsoft. The framework implements the LightGBM algorithm and is available in Python, R, and C. LightGBM is unique in that it can construct trees using Gradient-Based One-Sided Sampling, or GOSS for short.

To know more on comparisons between CatBoost, XgBoost and LightGBM, refer below
- [Article 1](https://cdn.iisc.talentsprint.com/CDS/Assignments/Module2/catboost%20vs%20lightgbm%20vs%20xgboost.pdf)
- [Article 2](https://cdn.iisc.talentsprint.com/CDS/Assignments/Module2/catboost%20lightgbm%20xgboost%202.pdf)

## Dataset Description

Lending Club is a lending platform that lends money to people in need at an interest rate based on their credit history and other factors. We will analyze this data and pre-process it based on our need and build a machine learning model that can identify a potential defaulter based on his/her history of transactions with Lending Club.

This dataset contains 42538 rows and 144 columns. **Out of these 144 columns, many columns have majorly null values.**

To know more about the Lending Club dataset features, refer [here](https://www.openintro.org/data/index.php?data=loans_full_schema).

### Setup Steps:

In [5]:
#@title Please enter your registration id to start: { run: "auto", display-mode: "form" }
Id = "2417774" #@param {type:"string"}

In [6]:
#@title Please enter your password (your registered phone number) to continue: { run: "auto", display-mode: "form" }
password = "9886610342" #@param {type:"string"}

In [7]:
#@title Run this cell to complete the setup for this Notebook
from IPython import get_ipython

ipython = get_ipython()

notebook= "M2_AST_07_Catboost_XGBoost_LightGBM_A" #name of the notebook

def setup():
#  ipython.magic("sx pip3 install torch")
    ipython.magic("sx wget https://cdn.iisc.talentsprint.com/CDS/Datasets/LoanStats3a.csv")
    from IPython.display import HTML, display
    display(HTML('<script src="https://dashboard.talentsprint.com/aiml/record_ip.html?traineeId={0}&recordId={1}"></script>'.format(getId(),submission_id)))
    print("Setup completed successfully")
    return

def submit_notebook():
    ipython.magic("notebook -e "+ notebook + ".ipynb")

    import requests, json, base64, datetime

    url = "https://dashboard.talentsprint.com/xp/app/save_notebook_attempts"
    if not submission_id:
      data = {"id" : getId(), "notebook" : notebook, "mobile" : getPassword()}
      r = requests.post(url, data = data)
      r = json.loads(r.text)

      if r["status"] == "Success":
          return r["record_id"]
      elif "err" in r:
        print(r["err"])
        return None
      else:
        print ("Something is wrong, the notebook will not be submitted for grading")
        return None

    elif getAnswer() and getComplexity() and getAdditional() and getConcepts() and getComments() and getMentorSupport():
      f = open(notebook + ".ipynb", "rb")
      file_hash = base64.b64encode(f.read())

      data = {"complexity" : Complexity, "additional" :Additional,
              "concepts" : Concepts, "record_id" : submission_id,
              "answer" : Answer, "id" : Id, "file_hash" : file_hash,
              "notebook" : notebook,
              "feedback_experiments_input" : Comments,
              "feedback_mentor_support": Mentor_support}
      r = requests.post(url, data = data)
      r = json.loads(r.text)
      if "err" in r:
        print(r["err"])
        return None
      else:
        print("Your submission is successful.")
        print("Ref Id:", submission_id)
        print("Date of submission: ", r["date"])
        print("Time of submission: ", r["time"])
        print("View your submissions: https://learn-iisc.talentsprint.com/notebook_submissions")
        #print("For any queries/discrepancies, please connect with mentors through the chat icon in LMS dashboard.")
        return submission_id
    else: submission_id


def getAdditional():
  try:
    if not Additional:
      raise NameError
    else:
      return Additional
  except NameError:
    print ("Please answer Additional Question")
    return None

def getComplexity():
  try:
    if not Complexity:
      raise NameError
    else:
      return Complexity
  except NameError:
    print ("Please answer Complexity Question")
    return None

def getConcepts():
  try:
    if not Concepts:
      raise NameError
    else:
      return Concepts
  except NameError:
    print ("Please answer Concepts Question")
    return None


# def getWalkthrough():
#   try:
#     if not Walkthrough:
#       raise NameError
#     else:
#       return Walkthrough
#   except NameError:
#     print ("Please answer Walkthrough Question")
#     return None

def getComments():
  try:
    if not Comments:
      raise NameError
    else:
      return Comments
  except NameError:
    print ("Please answer Comments Question")
    return None


def getMentorSupport():
  try:
    if not Mentor_support:
      raise NameError
    else:
      return Mentor_support
  except NameError:
    print ("Please answer Mentor support Question")
    return None

def getAnswer():
  try:
    if not Answer:
      raise NameError
    else:
      return Answer
  except NameError:
    print ("Please answer Question")
    return None


def getId():
  try:
    return Id if Id else None
  except NameError:
    return None

def getPassword():
  try:
    return password if password else None
  except NameError:
    return None

submission_id = None
### Setup
if getPassword() and getId():
  submission_id = submit_notebook()
  if submission_id:
    setup()
else:
  print ("Please complete Id and Password cells before running setup")

Setup completed successfully

###  Import required packages

In [24]:
!pip -qq install catboost

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 MB 7.0 MB/s eta 0:00:00

In [25]:
!pip install scikit-learn==1.4.2

Collecting scikit-learn==1.4.2
  Downloading scikit_learn-1.4.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.4.2) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.4.2) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.4.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn==1.4.2) (3.5.0)
Downloading scikit_learn-1.4.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 8.2 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
Successfully installed scikit-learn-1.4.2

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier, Pool, metrics, cv
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.11/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

### Load Dataset

In [2]:
# Load the raw loan stats dataset
# YOUR CODE HERE
dfloan = pd.read_csv('LoanStats3a.csv')

## Data Preprocessing

In [3]:
# View the top 5 rows of data
# YOUR CODE HERE
dfloan.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Size of the dataset
# YOUR CODE HERE
dfloan.shape

(42538, 144)

In [5]:
# Checking info of the raw dataframe
# YOUR CODE HERE
dfloan.describe()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,dti,delinq_2yrs,inq_last_6mths,...,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,42535.000000,42535.000000,42535.000000,42535.000000,4.253100e+04,0.0,42535.000000,42506.000000,42506.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.000000,160.000000,160.000000
mean,NaN,11089.722581,10821.585753,10139.938785,322.623063,6.913656e+04,NaN,13.373043,0.152449,1.081424,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4270.794250,49.889875,1.262500
std,NaN,7410.938391,7146.914675,7131.598014,208.927216,6.409635e+04,NaN,6.726315,0.512406,1.527455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3119.543917,15.569143,4.142869
min,NaN,500.000000,500.000000,0.000000,15.670000,1.896000e+03,NaN,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,193.290000,10.690000,0.000000
25%,NaN,5200.000000,5000.000000,4950.000000,165.520000,4.000000e+04,NaN,8.200000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1842.750000,40.000000,0.000000
50%,NaN,9700.000000,9600.000000,8500.000000,277.690000,5.900000e+04,NaN,13.470000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3499.350000,49.970000,0.000000
75%,NaN,15000.000000,15000.000000,14000.000000,428.180000,8.250000e+04,NaN,18.680000,0.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5701.100000,60.652500,0.000000
max,NaN,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,NaN,29.990000,13.000000,33.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14798.200000,92.740000,24.000000

### Check for missing values in the dataset

In [9]:
# Check missing values
# YOUR CODE HERE
dfloan.isna().sum()

id                       42537
member_id                42538
loan_amnt                    3
funded_amnt                  3
funded_amnt_inv              3
                         ...
settlement_status        42378
settlement_date          42378
settlement_amount        42378
settlement_percentage    42378
settlement_term          42378
Length: 144, dtype: int64

In [6]:
# Total percentage of null values in the data
# YOUR CODE HERE

# Calculate the total number of null values in the DataFrame
total_null_values = dfloan.isnull().sum().sum()

# Calculate the total number of cells in the DataFrame
total_cells = dfloan.size

# Calculate the percentage of null values
percentage_null = (total_null_values / total_cells) * 100

# Print the percentage of null values
print(f"Total percentage of null values in the data: {percentage_null:.2f}%")

Total percentage of null values in the data: 63.14%

From above we can see that, about 63% of the values in the overall data are null values.

Let's visualize the null values using the heatmap.

In [7]:
# Checking for null values using a heatmap as a visualizing tool
# YOUR CODE HERE
null_values = dfloan.isnull()

'''plt.figure(figsize=(14, 14))
sns.heatmap(null_values, cmap='coolwarm', annot=True, fmt=".1f",linewidths=0.5)
plt.title('Correlation between numerical features')
plt.show()'''

'plt.figure(figsize=(14, 14))\nsns.heatmap(null_values, cmap=\'coolwarm\', annot=True, fmt=".1f",linewidths=0.5)\nplt.title(\'Correlation between numerical features\')\nplt.show()'

As we can see from the above heatmap, there are lot of null values in the dataset. We have to carefully deal with these null values.

### Handling missing values in the data

- Select columns having null values less than 40%

In [9]:
# Creating a dataframe to display percentage of null values in different number of columns
# YOUR CODE HERE
percent_missing = dfloan.isna().sum() * 100 / len(dfloan)

dfmissing_values = pd.DataFrame({'column_name':dfloan.columns,
                                 'percent_missing':percent_missing})

# Store the columns count separately for each range
# YOUR CODE HERE
ranges = [(0, 10), (10, 20), (20, 30), (30, 40), (40, 50), (50, 60), (60, 70), (70, 80), (80, 90), (90, 100)]

range_counts = {}

for range_start, range_end in ranges:
    range_label = f"{range_start}-{range_end}%"
    range_counts[range_label] = len(dfmissing_values[(percent_missing >= range_start) & (percent_missing <= range_end) ])

# Display the range counts
for range_label, count in range_counts.items():
    print(f"Number of columns with {range_label} missing values: {count}")

Number of columns with 0-10% missing values: 52
Number of columns with 10-20% missing values: 0
Number of columns with 20-30% missing values: 0
Number of columns with 30-40% missing values: 1
Number of columns with 40-50% missing values: 0
Number of columns with 50-60% missing values: 0
Number of columns with 60-70% missing values: 1
Number of columns with 70-80% missing values: 0
Number of columns with 80-90% missing values: 0
Number of columns with 90-100% missing values: 90

From the above results, we can see that there are only 53 columns out of 144 columns that have null values less than 40%.

In [21]:
# Considering only those columns which have null values less than 40% in that particular column
# YOUR CODE HERE
selected_columns = dfmissing_values[dfmissing_values['percent_missing'] > 40]
dfloan_select = dfloan.drop(columns=selected_columns['column_name'])
dfloan_select.shape

(42538, 53)

By considering columns with less number of null values, we were able to decrease total number of columns from 144 to 53.

Note that we will deal with null values present in these selected 53 columns later below.

### Removing columns having single distinct value

In [33]:
# Checking columns that have only single values in them i.e, constant columns
# YOUR CODE HERE
single_value_cols = dfloan_select.columns[dfloan_select.nunique() == 1]
len(single_value_cols)

9

In [34]:
# After observing the above output, we are dropping columns which have single values in them
# YOUR CODE HERE
dfloan_select.drop(columns=single_value_cols,inplace=True)
dfloan_select.shape

(42538, 44)

### Extract features from datetime columns

In [41]:
# Columns other than numerical value
# YOUR CODE HERE
cat_col = dfloan_select.select_dtypes(exclude=['number']).columns
len(cat_col)

20

In [43]:
# Check which columns needs to be converted to datetime
# YOUR CODE HERE
dfloan_select.head(1)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,0.0,0.0,Jan-15,171.62,May-19,0.0,0.0,0.0,0.0,N

In [ ]:
# Converting objects to datetime columns
# YOUR CODE HERE

In [ ]:
# Checking the new datetime columns
# YOUR CODE HERE

In [ ]:
# Considering only year of joining for 'earliest_cr_line' column
# YOUR CODE HERE

In [ ]:
# Adding new features by getting month and year from [issue_d, last_pymnt_d, and last_credit_pull_d] columns
# YOUR CODE HERE

In [ ]:
# Feature extraction
# YOUR CODE HERE

In [ ]:
# Dropping the original features to avoid data redundancy
# YOUR CODE HERE

### Check for missing values in reduced dataset

In [ ]:
# Checking for null values in the updated dataframe
# YOUR CODE HERE

### Handling Null values in reduced dataset

In [ ]:
# Checking for Percentage of null values
# YOUR CODE HERE

In [ ]:
# Dropping the 29 rows which have null values in few columns
# YOUR CODE HERE

In [ ]:
# Checking again for Percentage of null values
# YOUR CODE HERE

Now, imputing the missing values with the median value for columns **'last_pymnt_d_year', 'last_pymnt_d_month', 'last_credit_pull_d_year', 'last_credit_pull_d_month', 'tax_liens'** as null values in these columns are less than 0.5% of the size.

In [ ]:
# Imputing the null values with the median value
# YOUR CODE HERE

For **'revol_util'** column, filling null values with median(string) which is close to 50:

In [ ]:
# For 'revol_util' column, fill null values with 50%
# YOUR CODE HERE

# Extracting numerical value from string
# YOUR CODE HERE

# Converting string to float
# YOUR CODE HERE

In [ ]:
# Unique values in 'pub_rec_bankruptcies' column
# YOUR CODE HERE

From the above we can see that the **'pub_rec_bankruptcies'** column is highly imbalanced. So, it is better to fill it with median(0) value as even after building model the model will be skewed very much towards 0.

In [ ]:
# YOUR CODE HERE

In [ ]:
# Unique values in 'emp_length' column
# YOUR CODE HERE

In [ ]:
# Seperating null values by assigning a random string
# YOUR CODE HERE

# Filling '< 1 year' as '0 years' of experience and '10+ years' as '10 years'
# YOUR CODE HERE

# Then extract numerical value from the string
# YOUR CODE HERE

# Converting it's dattype to float
# YOUR CODE HERE

In [ ]:
# Checking again for Percentage of null values
# YOUR CODE HERE

In [ ]:
# Removing redundant features and features which have percentage null values > 5%
# YOUR CODE HERE

### Converting categorical columns to numerical columns

In [ ]:
df1.head(2)

In [ ]:
# Unique values in 'term' column
# YOUR CODE HERE

In [ ]:
# Unique values in 'int_rate' column
# YOUR CODE HERE

In [ ]:
# Converting 'term' and 'int_rate' to numerical columns
# YOUR CODE HERE

Among the address related features, considering **'addr_state'** column and excluding **'zip_code'** column.

In [ ]:
df2 = df1.drop('zip_code', axis = 1)

In [ ]:
# One hot encoding on categorical columns
# YOUR CODE HERE

In [ ]:
# Label encoding on 'grade' column
# YOUR CODE HERE

In [ ]:
# Update 'grade' column
# YOUR CODE HERE

In [ ]:
# Label encoding on 'sub_grade' column
# YOUR CODE HERE

In [ ]:
# Update 'sub_grade' column
# YOUR CODE HERE

In [ ]:
df2.head(2)

In [ ]:
# Target feature
# YOUR CODE HERE

In [ ]:
# Prediction features
# YOUR CODE HERE
# Target variable
# YOUR CODE HERE

In [ ]:
# Label encoding the target variable
# YOUR CODE HERE

In [ ]:
X.head(2)

### Split data into training and testing set

In [ ]:
# Split the data into train and test
# YOUR CODE HERE

## Model Building

In [ ]:
# Using DecisionTree as base model
# YOUR CODE HERE

In [ ]:
# Prediciton using DecisionTree
# YOUR CODE HERE

### CatBoost

In [ ]:
# Create CatBoostClassifier object
# YOUR CODE HERE

In [ ]:
#cat_features = list(range(0, X.shape[1]))
# YOUR CODE HERE

In [ ]:
# Prediction using CatBoost
# YOUR CODE HERE

In [ ]:
#  Classification report for CatBoost model
# YOUR CODE HERE

### XGBoost

In [ ]:
# Create XGBClassifier object
# YOUR CODE HERE

In [ ]:
# Fit on training set
# YOUR CODE HERE

In [ ]:
# Prediction using XGBClassifier
# YOUR CODE HERE

In [ ]:
# Classification report for XGBoost
# YOUR CODE HERE

### LightGBM

In [ ]:
# Create LGBMClassifier object
# YOUR CODE HERE

In [ ]:
# Fit on training set
# YOUR CODE HERE

In [ ]:
# Prediction using LGBMClassifier
# YOUR CODE HERE

In [ ]:
# Classification report for LGBM
# YOUR CODE HERE

## Reference Reading:

https://neptune.ai/blog/when-to-choose-catboost-over-xgboost-or-lightgbm

### Please answer the questions below to complete the experiment:

In [17]:
#@title Select the FALSE statement: { run: "auto", form-width: "500px", display-mode: "form" }
Answer = "None of the above" #@param ["", "CatBoost can internally handle categorical variables in the data", "XGBoost cannot handle categorical features by itself, it only accepts numerical values similar to Random Forest", "LightGBM uses a histogram-based method for selecting the best split in order to speed up the training process", "All the above", "None of the above"]

In [18]:
#@title How was the experiment? { run: "auto", form-width: "500px", display-mode: "form" }
Complexity = "Good and Challenging for me" #@param ["","Too Simple, I am wasting time", "Good, But Not Challenging for me", "Good and Challenging for me", "Was Tough, but I did it", "Too Difficult for me"]

In [19]:
#@title If it was too easy, what more would you have liked to be added? If it was very difficult, what would you have liked to have been removed? { run: "auto", display-mode: "form" }
Additional = ".." #@param {type:"string"}

In [20]:
#@title Can you identify the concepts from the lecture which this experiment covered? { run: "auto", vertical-output: true, display-mode: "form" }
Concepts = "Yes" #@param ["","Yes", "No"]

In [21]:
#@title  Text and image description/explanation and code comments within the experiment: { run: "auto", vertical-output: true, display-mode: "form" }
Comments = "Very Useful" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [22]:
#@title Mentor Support: { run: "auto", vertical-output: true, display-mode: "form" }
Mentor_support = "Didn't use" #@param ["","Very Useful", "Somewhat Useful", "Not Useful", "Didn't use"]

In [23]:
#@title Run this cell to submit your notebook for grading { vertical-output: true }
try:
  if submission_id:
      return_id = submit_notebook()
      if return_id : submission_id = return_id
  else:
      print("Please complete the setup first.")
except NameError:
  print ("Please complete the setup first.")

Your submission is successful.
Ref Id: 2533
Date of submission:  26 Jan 2025
Time of submission:  20:37:02
View your submissions: https://learn-iisc.talentsprint.com/notebook_submissions