In [3]:
def euler001_A(limit : int) -> int:
    total, i = 0, 1
    while i < limit:
        if i % 3 == 0 or i % 5 == 0:
            total += i
        i = i + 1  # increment i to avoid infinite loop
    return total

In [4]:
total = euler001_A(1000)
print(total)

233168

In [1]:
print('Hello')

Hello

In [5]:
!python --version

zsh:1: command not found: python

In [7]:
total = euler001_A

In [8]:
total(1000)

233168

# filter(f,s) $\equiv$ {s \in S, f(s)}

In [9]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [10]:
print(filter(select, [3,7,10,12,9]))

<filter object at 0x111ef0f10>

In [11]:
print(list(filter(select, [3,7,10,12,9])))

[3, 10, 12, 9]

# map(f,S) $\equiv$ $[f(s_0), f(s_1), \ldots]$

In [12]:
def alpha(n: int) -> int:
    if n % 2 == 0:
        return n // 2
    else:
        return 5 * n - 1

In [13]:
print(list(map(alpha, [3,7,10,12,91])))

[14, 34, 5, 6, 454]

In [14]:
def even(n: int) -> bool:
    return n % 2 == 0

In [15]:
print(list(map(even, [3, 7, 10, 12, 91])))

[False, False, True, True, False]

In [ ]:
def my_map(f, S):
    maps = []
    for s in S:
        mapS.append(f(s))
    return mapS

In [16]:
type(filter)

type

In [17]:
!python --version

zsh:1: command not found: python

In [18]:
!python3 --version

Python 3.10.0

# lc $\equiv$ map + filter
# [f(x) for x in S if g(x)] $\equiv$ map(f,filter(g,S))

In [19]:
# List Comprehension
# Use list comprehension is recommended
{i:i*i for i in range(7)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [20]:
d = {i: i*i for i in range(7)}

In [21]:
type(d)

dict

In [22]:
{i for i in range(7)}

{0, 1, 2, 3, 4, 5, 6}

In [23]:
r7 = {i for i in range(7)}

In [24]:
type(r7)

set

Euler Problem 10
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.
Find the sum of all the primes below two million.

In [26]:
def euler010(limit: int) -> int:
    def is_prime(k: int) -> bool:
        factor = 3
        while factor * factor <= k:
            if k % factor == 0:
                return False
            factor += 2
        return True

    return 2 + sum([p for p in range(3, limit, 2) if is_prime(p)])

In [27]:
print(euler010(2000000))

142913828922

Euler Problem 3
The prime factors of 13195 are 5, 7, 13 and 29.
What is the largest prime factor of the number 600851475143 ?

In [28]:
N = 600851475143

In [ ]:
def factorize(n: int) -> list[int]:
    factors = []
    while n % 2 == 0:
        factors.append(2)
        n //= 2
    r = 3
    while r * r <= n:
        while n % r == 0:
            factors.append(r)
            n //= r
        r += 2
    factors.append(n)
    return factors

The FizzBuzz problem is a classic test given in coding interviews. The task is
simple:
Print integers 1 to N, but print “Fizz” if an integer is divisible by 3, “Buzz”
if an integer is divisible by 5, and “FizzBuzz” if an integer is divisible by both
3 and 5.

In [59]:
def FizzBuzz(N: int) -> list:
    numbers = []
    for i in range(1, N+1):
        if  i % 15 == 0:
            numbers.append('FizzBuzz')
        elif i % 5 == 0:
            numbers.append('Buzz')
        elif i % 3 == 0:
            numbers.append('Fizz')
        else:
            numbers.append(i)
    return numbers

In [37]:
if type(10) == int:
    print('yes')

yes

In [42]:
def divisibleby3(N:int) -> str:
    if type(N) == int and N % 3 == 0:
        return 'Fizz'
    else:
        return(N)

In [43]:
def divisibleby5(N:int) -> str:
    if type(N) == int and N % 5 == 0:
        return 'Buzz'
    else:
        return(N)

In [44]:
def divisibleby15(N:int) -> str:
    if type(N) == int and N % 15 == 0:
        return 'FizzBuzz'
    else:
        return(N)

In [47]:
numbers = list(range(1,21))
print(list(map(divisibleby5, list(map(divisibleby3, list(map(divisibleby15,numbers)))))))

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']

In [60]:
print(FizzBuzz(20))

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']

Kaprekar’s Constant
Step 1: Choose any four digit number, say n. This is the first number of the
sequence.
Step 2: Create a new number α which is the largest number that can be
formed by using the four digits of n.
Step 3: Create a new number β which is the smallest number that can be
formed by using the four digits of n.
Step 4: α − β is the next number in the sequence.
Step 5: Repeat from step 2.
The sequence is called a Kaprekar sequence and the function K(n) = α − β
is the Kaprekar mapping. Some numbers map to themselves; these are the fixed
points of the Kaprekar mapping, and are called Kaprekar’s constants. Zero is
a Kaprekar’s constant, and so is called a trivial Kaprekar’s constant. All other
Kaprekar’s constant are nontrivial Kaprekar’s constants.
For example, starting with 3524,
K(3524) = 5432 − 2345 = 3087
K(3087) = 8730 − 378 = 8352
K(8352) = 8532 − 2358 = 6174 K(6174) = 7641 − 1467 = 6174
with 6174 as a Kaprekar’s constant.

In [11]:
def largestnumber(N : int) -> int:
    return int(''.join(sorted(str(N),reverse = True)))

In [4]:
print(largestnumber(34567))

76543

In [12]:
def smallestnumber(N : int) -> int:
    return int(''.join(sorted(str(N))))

In [7]:
print(smallestnumber(34567))

34567

In [13]:
def nextnumber(largest:int, smallest:int) -> int:
    return largest - smallest

In [9]:
print(nextnumber(76543,34567))

41976

In [20]:
def kaprekarConstant(N: int) -> list:
    sequence = []
    number = N
    previousnumber = 0
    while number != 0 and number != previousnumber:
        sequence.append(number)
        previousnumber = number
        number = nextnumber(largestnumber(number),smallestnumber(number))
        
    return sequence

In [21]:
print(kaprekarConstant(3524))

[3524, 3087, 8352, 6174]

# Number into Words

If the number is 23456 -> Twenty three thousand four hundered and fifty six
                        
                 3456  -> Three thousand four hundered and fifty six
                 123456 -> 1 lakh twenty three thousand four hundered and fifty six
                 1023456 -> 1 million twenty three thousand four hundered and fifty six
                         -> 10 lakhs twenty three thousand four hundered and fifty six

In [142]:
def digit_to_word(index: int, number: int, nomen: str) -> str:

    ones = ['','one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','ten','eleven','tweleve','thirteen','fourteen','fiftieen','sixteen','seventeen','eighteen','nineteen']
    tens = ['','', 'twenty ', 'thirty ', 'forty ', 'fifty ', 'sixty ', 'seventy ', 'eighty ', 'ninety ']
    indian  = [None,None,' hundered ',' thousand ',None,' lakh ',None,' crore ']
    western = [None,None,' hundered ',' thousand ',None,'hundered','million ',None,' billion ']
    
    # Handle the conversion logic based on nomenclature and number type
    if nomen == 'I' and index <= 2 and number == 0:
        return ' '
    elif nomen == 'W' and index <= 3 and number == 0:
        return ' '
    elif index == 0:
        return ones[number]
    elif index == 1:
        return tens[number]
    else:
        if nomen == 'I':
            return ones[number] + ' ' + (indian[index] if indian[index] is not None else tens[number])
        else:
            return ones[number] + ' ' + (western[index] if western[index] is not None else tens[number])

In [81]:
def num_to_digits_in_reverse2(n: int) -> list[int]:
    numlist = [int(ch) for ch in str(n)]
    numlist.reverse()
    return numlist

In [216]:
def digit_to_word(index: int, number: int, nomen: str) -> str:

    ones = ['','one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','ten','eleven','tweleve','thirteen','fourteen','fiftieen','sixteen','seventeen','eighteen','nineteen']
    tens = ['','ten', 'twenty ', 'thirty ', 'forty ', 'fifty ', 'sixty ', 'seventy ', 'eighty ', 'ninety ']
    indian  = [None,None,' hundered ',' thousand ',None,' lakh ',None,' crore ']
    western = [None,None,' hundered ',' thousand ',None,' hundered ',' million ',None,' billion ']
    
    return (lambda index, number, nomen: (
        ' ' if (nomen == 'I' and number == 0) else
        ' ' if (nomen == 'W' and index <= 3 and number == 0) else
        ones[number] if index == 0 else
        tens[number] if index == 1 else
        (ones[number] + ' ' + indian[index]  if indian[index]  is not None else ' ' + tens[number])  if nomen == 'I' else
        (ones[number] + ' ' + western[index] if western[index] is not None else ' ' + tens[number])
    ))(index, number, nomen)

In [217]:
def toWords2(number: int, nomenclature: str) -> str:

    i = 0
    index = 0
    numberInWords = ''
    length = len(str(number))
    numberlist = num_to_digits_in_reverse2(number)

    print(length)
    while i in range(length):  
        if i > 2 and i % 2 != 0 and i != length-1 and numberlist[i+1] == 1: # Take into consideration 11 - 19 number
           num = int(str(numberlist[i+1])+str(numberlist[i]))
           index = i
           i += 2 
        else:
           num = numberlist[i]
           index = i 
           i += 1 
         # Convert the digit to words and append to the final string
        numberInWords = digit_to_word(index, num, nomenclature) + numberInWords
        

    return numberInWords.strip()

In [218]:
print(toWords2(10110110,'W'))

8
Inside If 3
ten  million one  hundered ten  thousand one  hundered ten

In [100]:
def is_anagram(a: str, b: str) -> bool:
    return sorted(a) == sorted(b)

In [102]:
print(is_anagram('ShrUti','iturhS'))

False

In [2]:
def num_to_digits(n: int) -> list[int]:
    numlist = [int(ch) for ch in str(n)]
    return numlist

In [10]:
def toRoman(number: int) -> str:
    roman_numerals_dict = {
    1: 'I',
    2: 'II',
    3: 'III',
    4: 'IV',
    5: 'V',
    6: 'VI',
    7: 'VII',
    8: 'VIII',
    9: 'IX',
    10: 'X',
    20: 'XX',
    30: 'XXX',
    40: 'XL',
    50: 'L',
    60: 'LX',
    70: 'LXX',
    80: 'LXXX',
    90: 'XC',
    100: 'C',
    200: 'CC',
    300: 'CCC',
    400: 'CD',
    500: 'D',
    600: 'DC',
    700: 'DCC',
    800: 'DCCC',
    900: 'CM',
    1000: 'M'
    }

    i = 0
    length = len(str(number))
    numlist = num_to_digits(number)
    print(numlist)
    len1 = length
    while i in range(length):
       num = numlist[i] * (10**(len1-1))
       len = len1-1
       print(num)
       i += 1

In [11]:
print(toRoman(123))  #100 + 20 + 3

UnboundLocalError: local variable 'len' referenced before assignment

In [8]:
del len

NameError: name 'len' is not defined

In [ ]:
print(toInteger('XI'))