In [1]:
print('Happy "Diwali"')

Happy "Diwali"

In [2]:
# Escape Sequence
print("Happy \"Diwali\"")

Happy "Diwali"

In [3]:
print("Happy\nJapan Canada")

Happy
Japan Canada

In [4]:
print("Happy\nJapan\tCanada")

Happy
Japan	Canada

In [5]:
print("Happy\\nJapan\tCanada")

Happy\nJapan	Canada

In [6]:
# Raw String
print(r"Happy\nJapan\tCanada")

Happy\nJapan\tCanada

In [7]:
# Raw String
print(R"Happy\nJapan\tCanada")

Happy\nJapan\tCanada

In [7]:
# Raw String
print(R"Happy\nJapan\tCanada")

Happy\nJapan\tCanada

In [9]:
# Raw String
num1 = 100
num2 = 10.89
print( num1, num2)
print(type(num1), type(num2))

100 10.89
<class 'int'> <class 'float'>

In [11]:
# Raw String
num1 = 100
num2 = 10.89
print( num1, num2)
print(type(num1,num2))

100 10.89

TypeError: type() takes 1 or 3 arguments

In [13]:
# Python is supposed to work with big data it can support integer size which your OS supports
#Complex Datatype
c1 = 10+5j
c2 = 60+10j

In [14]:
print(c1+c2)

(70+15j)

In [15]:
#Python does not have a character data type
String = "Shruti Bansal"
String

'Shruti Bansal'

In [18]:
a,b,c = 45,51,98
print(a,b,c)
a,b,c = c,b,a
print(a,b,c)

45 51 98
98 51 45

In [21]:
import keyword
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [22]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [23]:
len(keyword.kwlist)

35

In [27]:
str1= 'John'

# num1 = int(str1)  # Value should be compatible

str2 = '1000'
num2 = int(str2)

In [29]:
str1= 'John'

# num1 = int(str1)  # Value should be compatible

str2 = '1000'
num2 = int(str2)

num = 1001
print(str(num))

str3 = str(num)
str3

1001

'1001'

In [37]:
s1 = '78,700'
print(s1.replace(',',''))  # String is immutable, not changable
s1

78700

'78,700'

In [32]:
#List
nums = [1,2,3,4,5,6]
nums

[1, 2, 3, 4, 5, 6]

In [35]:
name = "Shruti,Shipra,Anshuk"
name.split(',') # Will Return a List, Default Space is the separator

['Shruti', 'Shipra', 'Anshuk']

In [36]:
name

'Shruti,Shipra,Anshuk'

In [38]:
# store all names in a list - using split()

name = "Amit Rakesh Sharma"

fname,mname,lname = name.split()

print(fname,mname,lname)

Amit Rakesh Sharma

In [40]:
# input()

name = input('Enter your name: ')
print(name)

Enter your name:  Saanvi

Saanvi

# name, hobby = input('Enter ur name and hobby: ').split()
print(name, 'likes', hobby)

In [43]:
n1 = int(input('Enter a number: '))
n1+100

Enter a number:  40000000000

40000000100

## name, age = input('Enter name and age: ').split()
print(name, 'is' , age , 'years old')
print(int(age)+10)

In [46]:
n1,n2,n3 = map( int ,input('Enter 3 numbers: ').split()) #Map syntax - Function, Sequence
n1+n2+n3

Enter 3 numbers:  2 3 4

9

In [49]:
n1 = map( int ,input('Enter 3 numbers: ').split()) #Map syntax - Function, Sequence
n1
print(list(n1))

Enter 3 numbers:  2 3 4

[2, 3, 4]

In [51]:
#Placeholder
name = 'Shruti'
code = 'I032294'
doj = '10-9-2024'
exp = 20

message = 'My name is {}. My code is {}. I have {} yrs of exp.'
print(message.format(name, code, exp))

My name is Shruti. My code is I032294. I have 20 yrs of exp.

In [55]:
#Placeholder
name = 'Shruti'
code = 'I032294'
doj = '10-9-2024'
exp = 20

print(f'My name is {name}. My code is {code}. I have {exp} yrs of exp.')

My name is Shruti. My code is I032294. I have 20 yrs of exp.

In [56]:
print(17/4)
print(17//4)

4.25
4

In [58]:
#In and not In
"I" in "India"  #After the in operator there should be a collection
"I" in ["P","N","D","Q","A"]

False

In [59]:
#In and not In
"I" in "India"  #After the in operator there should be a collection
"I" not in ["P","N","D","Q","A"]

True

In [60]:
#Indentity Operator
a,b,c = 10,20,10
a is b

False

In [61]:
#Indentity Operator
a,b,c = 10,20,10
a is c # is checks the memory address (identity) and not value

True

In [65]:
a = None
b = None
print(id(a))
print(type(a))
a is b

4581357216
<class 'NoneType'>

True

In [66]:
print(id(None))

4581357216

In [69]:
divident = input("Enter divident: ")
divisor = input("Enter Divisor: ")
quotient = int(int(divident)/int(divisor))
print(quotient)

Enter divident:  3000
Enter Divisor:  30

100

In [70]:
print('Hello')
print('John')

Hello
John

In [71]:
print('Hello', end='*')
print('John')

Hello*John

In [74]:
a,b,c,d = 4,3,5,6
print(a,b,c,d, sep=',')

4,3,5,6

In [76]:
# Conditional operator >,<, >=,<=, ==, !=
# condition will be True or False

num = int(input('Enter a number: '))

if num>0:
    print(f'{num} is positive')
print('End of code')

Enter a number:  -1

End of code

In [77]:
# Conditional operator >,<, >=,<=, ==, !=
# condition will be True or False

num = int(input('Enter a number: '))

if num>0:
    print(f'{num} is positive')
else:
    print(f'{num} is negative')
print('End of code')

Enter a number:  -1

-1 is negative
End of code

In [79]:
while True:
    num = int(input('Enter Number ( Enter 0 to stop ): '))
    snum = str(num)
    if num == 0:
        break
    elif str(num) == snum[::-1]: # String split
        print('It\'s a palindrome')
    else:
        print('It\'s not a palindrome')

Enter Number ( Enter 0 to stop ):  121

It's a palindrome

Enter Number ( Enter 0 to stop ):  12233221

It's a palindrome

Enter Number ( Enter 0 to stop ):  0

In [89]:
#Enter age of a person
#Raise an exception if the entered age is negative

while True:
    try:
        age = int(input('Enter age:'))
        if age<=0: #or type(age) != int:
            raise ValueError
        break
    except ValueError as err:
        print('Age is invalid')
        print(err)

Enter age: 4.5

Age is invalid
invalid literal for int() with base 10: '4.5'

Enter age: -4

Age is invalid

Enter age: 4

In [90]:
 age = int(input('Enter age:'))

Enter age: -3.5

ValueError: invalid literal for int() with base 10: '-3.5'

In [93]:
mystring = 'HelloWorld'
# Postiive and Negative index number
mystring
mystring[-10]
#mystring[0]

'H'

In [96]:
mystring = 'HelloWorld'
# Postiive and Negative index number
mystring
mystring[-10:-3:1]  #Start Stop Index
#mystring[0]

'HelloWo'

In [100]:
mystring = 'HelloWorld'
# Postiive and Negative index number
mystring
mystring[9:3:-2]  #Start Stop Index
#mystring[0]

'drW'

In [101]:
words = ['india', 'canada', 'japan', 'newzeland']
words[-1]

'newzeland'

In [102]:
words[-1][::-1]

'dnalezwen'

In [105]:
words[::-1][::-1]
'/'.join(words)

'india/canada/japan/newzeland'

In [106]:
sentence = 'i love my india'
sentence2 = sentence[7:]
sentence2

'my india'

In [108]:
name = 'Shruti BanSal'
name.upper()
#name.capitalize()

'SHRUTI BANSAL'

In [110]:
h = 'Hello'
w = 'World'
h4s3w2 = 4 * h + " " * 3 + w * 2
print(h4s3w2)

HelloHelloHelloHello   WorldWorld