# Todays plan
## Will flex!
# More Euler
# Anagrams
# Date strings
# Roman $\Leftrightarrow$ Arabic
# Figures to words

# Amicable pairs

In [ ]:
# Find all factors < sqrt(n)
# Compute n // factor for each
# Add them together

def sum_of_factors(n: int) -> int:
    aliquot = 1
    r = 2
    while r * r < n:
        if n % r == 0:
            aliquot += r
            aliquot += (n // r)
        r += 1
    if r * r == n:
        aliquot += r
    return aliquot

In [ ]:
# Avoid double counting amicable pairs
# (220, 284) is an amicable pair and so is (284, 220)
# By checking for pairs in increasing order (line 8)
# We avoid it
def euler021(limit: int) -> int:
    amicable_sum = 0
    for n in range(1, limit):
        aliq = sum_of_factors(n)
        if n < aliq:
            if n == sum_of_factors(aliq)
                amicable_sum += (aliq + n)
    return amicable_sum

In [ ]:
n = 220

In [ ]:
aliq = sum_of_factors(n)

In [ ]:
print(aliq)

In [ ]:
a = sum_of_factors(aliq)

In [ ]:
print(a)

In [ ]:
a == n

In [ ]:
sum_of_factors(5)

# Euler 5
 2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1
to 20?

In [ ]:
import math

In [ ]:
math.lcm?

In [ ]:
math.lcm(26, 65)

In [ ]:
nums = list(range(1, 21))

In [ ]:
math.lcm(nums)

In [ ]:
math.lcm(*nums)

In [ ]:
*nums

In [ ]:
print(nums)

In [ ]:
print(*nums)

In [ ]:
math.lcm(12, 20)

In [ ]:
import functools

In [ ]:
functools.reduce?

In [ ]:
functools.reduce(math.lcm, range(1, 21))

In [ ]:
def fold(f, a):
    '''This is a pseudocode-like implementation
    of reduce. It does not have all the features of reduce'''
    if len(a) == 1:
        return a[0]
    elif len(a) == 2:
        return f(a[0, a[1]])
    else:
        a = [f(a[0], a[1])] + a[2:]
        return fold(f, a)

In [ ]:
# reduce(f, S) -> reduce(f, [f(S[0], S[1]), S[2] ...])

# Assume we do not have reduce
# Assume we have a function lcm2() that finds the lcm of two numbers
# We can custome build an lcm that takes any number of arguments
# ==> reduce, like below

def lcm(nums: list[int]) -> int:
    if len(nums) == 1:
        return nums[0]
    elif len(nums) == 2:
        return lcm2(nums[0], nums[1])
    else:
        return lcm([lcm2(nums[0], nums[1])] + nums[2:])

In [ ]:
fold?

In [ ]:
fold??

# String manipulation

Two words are called anagrams of each other if they are both consisting of the same letters:

steps, pests
spare, reaps

There can be many words which are anagrams of each other

spare, reaps, pears, spear...

In [ ]:
def is_anagram_old(a: str, b: str) -> bool:
    '''Checks if the two strings given
    are anagrams of each other. Case sensitive'''
    return sorted(a) == sorted(b)

In [ ]:
def is_anagram(a: str, b: str, case_sensitive=True) -> bool:
    '''Checks if the two strings given
    are anagrams of each other.'''
    if case_sensitive:
        return sorted(a) == sorted(b)
    else:
        return sorted(a.lower()) == sorted(b.lower())

In [ ]:
print(is_anagram("opts", "spot"))
print(is_anagram("opts", "Spot"))
print(is_anagram("opts", "Spot", case_sensitive=False))
print(is_anagram("opts", "spot", case_sensitive=True))

# sort vs sorted

In [ ]:
a = "world"
b = "prime"

In [ ]:
print(sorted(a))

In [ ]:
print(a)

In [ ]:
a.sort()

In [ ]:
c = ['w', 'o', 'r', 'l', 'd']

In [ ]:
c.sort()

In [ ]:
c

In [ ]:
list(a).sort()

In [ ]:
a

In [ ]:
d = list(a).sort()

In [ ]:
d

In [ ]:
x = x.sort() # effectively empties x

In [ ]:
# eXISTING
# def is_vowel(s: str) -> bool:
#    return s in 'aeiouAEIOU'

In [ ]:
def is_vowel(s: str, include_y=False) -> bool:
    if include_y:
        return s in 'aeiouyAEIOUY'
    else:
        return s in 'aeiouAEIOU'

In [ ]:
def isvowel(s: str, extras="") -> bool:
    return s in 'aeiouAEIOU' + extras

In [ ]:
for i in range(10):
    print(i, i * i)

In [ ]:
for i in range(10):
    print(i, i * i, sep=";")

In [ ]:
for i in range(10):
    print(i, i * i, end="::")

In [ ]:
for i in range(10):
    print(i, i * i, sep=";", end=" :: ")

In [ ]:
for i in range(10):
    print(i, i * i, end=" :: ", sep=";")

# Date String
## given a string of the form dd SEP month SEP yyyy
## return the seven digit integer yyyyddd

## SEP can be comma or space or comma plus space
## the two SEPs can be dfferent

"12 Jan 1999" $\Rightarrow$ 1999012

"14 february,2015" $\Rightarrow$ 2015045

"2,Nov, 2020" $\Rightarrow$ 2020307

## ddd is often called the Julian date

In [ ]:
def is_leap(y: int) -> bool:
    if y % 100 == 0:
        return y % 400 == 0
    else:
        return y % 4 == 0

def clean(s: str) -> str:
    COMMA, SPACE = ',', ' '
    return s.replace(COMMA, SPACE)

def parse(s: str) -> tuple[int, str, int]:
    d, mon, y = clean(s).split()
    return int(d), mon.lower()[:3], int(y)

In [ ]:
# 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31
# 0,  31, 59, 90,120,151,181,212,243,273,304,334

def julian(s: str) -> int:
    non_leap = {'jan': 0, 'feb': 31, 'mar': 59, 'apr': 90, 'may': 120, 'jun': 151,
                'jul': 181, 'aug': 212, 'sep': 243, 'oct': 273, 'nov': 304, 'dec': 334}
    leap     = {'jan': 0, 'feb': 31, 'mar': 60, 'apr': 91, 'may': 121, 'jun': 152,
                'jul': 182, 'aug': 213, 'sep': 244, 'oct': 274, 'nov': 305, 'dec': 335}
    dd, mon, yyyy = parse(s)
    days_upto = leap if is_leap(yyyy) else non_leap
    return yyyy * 1000 + days_upto[mon] + dd

In [ ]:
for data in ["12, Jan 1999", "14 february,2014", "2,nov 2020"]:
    print(f'{data:20} => {julian(data)}')

In [ ]:
def julian2(s: str) -> int:
    days_upto = {'jan': 0, 'feb': 31, 'mar': 59, 'apr': 90, 'may': 120, 'jun': 151,
                'jul': 181, 'aug': 212, 'sep': 243, 'oct': 273, 'nov': 304, 'dec': 334}
    dd, mon, yyyy = parse(s)
    leap_adjustment = 1 if is_leap(yyyy) and mon not in ['jan', 'feb'] else 0
    return yyyy * 1000 + days_upto[mon] + dd + leap_adjustment

In [ ]:
def cleanup(s: str) -> str:
    SPACE = ' '
    def only_alnum(ch: str) -> str:
        if ch.isalnum():
            return ch
        else:
            return SPACE
    return ''.join([only_alnum(ch) for ch in s])

# Roman $â‡”$ Arabic

In [ ]:
def to_roman(n: int) -> str:
    roman_table = {1000: 'M', 900: 'CM', 500: 'D', 400: 'CD', 100: 'C', 90: 'XC',
                      50: 'L', 40: 'XL', 10: 'X', 9: 'IX', 5: 'V', 4: 'IV', 1: 'I'}

    roman = ''
    for numeral in sorted(roman_table.keys(), reverse=True):
        roman += (n // numeral) * roman_table[numeral]
        n %= numeral
    return roman

In [ ]:
for n in [1278, 989, 67, 2900]:
    print(n, to_roman(n))

In [ ]:
def from_roman(s: str) -> int:
    roman_table = {'M': 1000, 'D': 500, 'C': 100, 'L': 50, 'X': 10, 'V': 5, 'I': 1}

    s = s.replace("CM", "DCCCC").replace("CD", "CCCC")
    s = s.replace("XC", "LXXXX").replace("XL", "XXXX")
    s = s.replace('IX', "VIIII").replace("IV", "IIII")
    return sum([roman_table[ch] for ch in s])

In [ ]:
for data in ["XXIV", "DCXV", "CML", "VI", "CMVI", "CCVI"]:
    print(f'{data:10} => {from_roman(data)}')

# Sort on a key

In [ ]:
words = ["hello", "pots", "post","spear", "stop", "opts", "spare", "could", "spot", "cloud", "cdef"]

In [ ]:
[["could", "cloud"], ["stop", "pots", "post", "opts", "spot"], ["spare", "spear"]]

In [ ]:
print(sorted(words))

In [ ]:
sorted?

In [ ]:
print(sorted(words, key=sorted))

In [ ]:
sorted('spear')

In [ ]:
sorted('spare')

In [ ]:
sorted('cloud')

In [ ]:
print(sorted(words, key=len))