In [2]:
# Given a list of numbers, 
# remove floats from the list

list1 = [12.9,10,34.0,67,87,10.8,34,77.0,60,45.87,18]

list2 = [ i  for i in list1 if int(i) !=i or str(i).split('.')[0] != str(i)]
print(list2)

[12.9, 34.0, 10.8, 77.0, 45.87]

In [3]:
# Given a list of numbers, 
# remove floats from the list

list1 = [12.9,10,34.0,67,87,10.8,34,77.0,60,45.87,18]

list2 = [ i  for i in list1 if isinstance(i,float)]
print(list2)

[12.9, 34.0, 10.8, 77.0, 45.87]

In [4]:
#tuple
#tuple is immutable
tup1 = (8,9,10)
tup1 = list(tup1)
tup1.append(55)
print(tup1)
tup1.extend([6,7,8])
print(tup1)

tup1 = tuple(tup1)
tup1

[8, 9, 10, 55]
[8, 9, 10, 55, 6, 7, 8]

(8, 9, 10, 55, 6, 7, 8)

In [5]:
#Cannot do sort,append,remove with tuple
tup2 = (2,3,4)
a,b,c = tup2
print(a,b,c)

2 3 4

In [6]:
#tuple comparing
#if the first item is equal then the next element is checked
#Compare of string is unicode comparision
tup1 = (1,2,3)
tup2 = (1,3,3)
tup1 < tup2

True

In [7]:
# Sets
set1 = {'1','2','3','4'}
set2 = {'2','2','3','3'}
set1|set2

{'1', '2', '3', '4'}

In [10]:
list1 =[1,2,3,4]
list2 =[2,3,3,5]
set(list1)|set(list2)

{1, 2, 3, 4, 5}

In [11]:
set(list1).intersection(set(list2))

{2, 3}

In [12]:
#dictionary
mydict = {'John':'trekking',
          'Henry':'hiking',
        'John':'Reading'
         }
mydict
# If duplicate keys it takes the latest one

{'John': 'Reading', 'Henry': 'hiking'}

In [15]:
mydict.popitem()

('Henry', 'hiking')

In [16]:
mydict

{'John': 'Reading'}

In [14]:
mydict = {'John': 'Reading',
          'Henry': 'hiking',
          101 : 'A232',
          'code': 'A232',
          'Kelly': 'Reading',
          'John': 'Music',
         }
#print(mydict.values())
c = None
for j in mydict.values():
    if c == j:
        print(j)
    c = j

A232

In [15]:
result = False
type(result)

bool

In [17]:
#Implicite Type Conversion
x = 10
print(type(x))
x= 3.5
print(type(x))
x=True
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>

In [18]:
#Explicite Type Conversion
#Possibility of Data Loss
y = 10.456
print(int(y))
print(str(y))

10
10.456

In [19]:
nums = [23,54,77,89,65,101]   # nums is a list

type(nums)

list

In [26]:
# working of split()

name = "Amit,Rakesh,Sharma"

type(name.split(','))
name2 = name.split(',')
print(name2)
print(type(name2))

['Amit', 'Rakesh', 'Sharma']
<class 'list'>

In [30]:
# working of split()

name = "Amit,Rakesh,Sharma"

type(name.split(','))
name2,name3,name4 = name.split(',')
print(name2,name3,name4, sep='-', end='*')
print(type(name2))

Amit-Rakesh-Sharma*<class 'str'>

In [28]:
a,b,c,d = 4,2,3,7

print(a,b,c,d, sep=', ')

4, 2, 3, 7

In [31]:
# Example: Why this won't work

divident = input("enter divident: ")   

divisor = input("enter divisor: ")     

Quoteint = int(divident/divisor) 

print(Quoteint)

enter divident:  3456
enter divisor:  34

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [32]:
# Example: Why this won't work

divident = input("enter divident: ")   

divisor = input("enter divisor: ")     

Quoteint = int(divident)/int(divisor) 

print(Quoteint)

enter divident:  3456
enter divisor:  34

101.6470588235294

In [34]:
# Write the above program Using--------One line if else statement
'''
Employee's Salary is given. 
WAP to calculate bonus and display net salary.

Salary Bonus
>5000  50% of salary
Others 25% of salary
'''

salary=5000

bonus = salary*(50/100) if salary >=5000 else salary*(25/100)
print(f'Net Salary: {int(salary+bonus)}')

Net Salary: 7500

In [39]:
'''
# A company gives insurance to its drivers in the following conditions,

- Driver is married.
- Driver is an unmarried male above 30 years of age.
- Driver is an unmarried female above 25 years of age.

In all the above cases display s message ‘Driver is insured’.
In all other conditions display ‘Driver is not insured’.

Sample Output:

Driver is married/unmarried [m/u]? u
Male/Female [m/f]? m
Age: 24
Driver is not insured
'''

Married = input('Driver is married/unmarried [m/u]?')
Gender = input('Male/Female [m/f]?')
Age = input('Age:')

Insurance_Status = 'Driver is insured' if Married == 'm' or (Gender == 'm' and (int(Age) >= 30)) or (Gender == 'f' and (int(Age) >= 25)) else 'Driver is not insured'
print(Insurance_Status)

Driver is married/unmarried [m/u]? u
Male/Female [m/f]? f
Age: 20

Driver is not insured

In [43]:
import sys

try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
    print('No error so far')
except OSError as err:
    print("OS error:", err)
except ValueError as ve:
    print('Error:', ve)
    print("Could not convert data to an integer.")
except Exception as err:
    print(f"Unexpected {err=}, {type(err)=}")
    raise

Error: invalid literal for int() with base 10: 'Hello This Is Fun'
Could not convert data to an integer.

In [44]:
# Print numbers from 0 to 9
# range(start, stop, step)

for i in range(10):    # range(0,10,1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [45]:
mylist = [53,12,45,660,80,18,91,70,25]

for i in range(len(mylist)):
    print(mylist[i])

for j in mylist:
    print(j)

53
12
45
660
80
18
91
70
25
53
12
45
660
80
18
91
70
25

In [56]:
# find largest number from the list

#         0   1  2  3  .....        index numbers
mylist = [53,12,45,660,80,18,910,70,25]

c = -1
for i in range(len(mylist)):
    if c > mylist[i]:
        continue
    c = mylist[i]

print(c)

910

In [60]:
# find if the entered number is armstrong
# Sample output:
# Enter a number: 153
# 153 is an armstrong number!

# digits = 3
# 153 = 1^3 + 5^3 + 3^3 = 153

import math


num = int(input('Enter a Number:'))
length = len(str(num))
sums = 0

for digit in str(num):
    digit = int(digit)
    sums += pow(digit, length)

Result = 'Armstrong Number' if sums == int(num) else 'Not Armstrong Number'
print(Result)

Enter a Number: 153

Armstrong Number

In [61]:
# Accept a number till the user wants
# Find if it's palindrome or not:  12321, 4554, 101, NITIN

while True:
    num = int(input('Enter a number [enter 0 to stop]: '))
    s1 = str(num)
    if num == 0:
        break
    elif s1[::-1] == s1:    # This command reverses the sequence This is part of string slicing
        print("It's a palindrome")
    else:
        print("It's not a palindrome")

Enter a number [enter 0 to stop]:  121

It's a palindrome

Enter a number [enter 0 to stop]:  122332211

It's not a palindrome

Enter a number [enter 0 to stop]:  0

In [62]:
# List of strings

words = ['india',
         'canada',
         'japan',
         'newzeland']

words

['india', 'canada', 'japan', 'newzeland']

In [63]:
words[-1]

'newzeland'

In [64]:
words[-1][::-1]

'dnalezwen'

In [65]:
dateList = ['12','20','2023']

'/'.join(dateList)

'12/20/2023'

In [66]:
# Replace comma with nothing

Number = '12,500'
print(Number.replace(',',''))

12500

In [67]:
# What will be the output of the code

my_string = ''    # empty string is always False

if my_string:
    print("Good work")
else:
    print("Try again")

Try again

In [68]:
# remove all the occurances of 'John'

friends = ['John', 'John', 'Joseph', 'John', 'John', 'Glenn', 'Sally', 'John']

remName = 'John'
newList = []

for i in friends:
    if remName != i:
        newList.append(i)

print(newList)

['Joseph', 'Glenn', 'Sally']

In [69]:
# Create a new list having elements more than 20

list1 = [3, 15, 75, 4, 2, 90, 76, 32, 19]

# listObj = [expression   for loop   if condition]

list2 = [i  for i in list1  if i>20]

list2

[75, 90, 76, 32]

In [70]:
# Difference between list and tupple is that tupple is immutable
tup1 = (3,4,5,6,7)
print(tup1[::-1])

(7, 6, 5, 4, 3)

In [71]:
set1 = {1,2,3,4,5,6,7}
set1

{1, 2, 3, 4, 5, 6, 7}

In [72]:
myset = {}
type(myset)

dict

In [74]:
myset = set()
type(myset)

set

In [75]:
mylist = [1,1,2,2,3,3,4,4,4,5,6]
myset = set(mylist)
myset

{1, 2, 3, 4, 5, 6}

In [76]:
mylist = list(myset)
mylist

[1, 2, 3, 4, 5, 6]

In [77]:
set1 = {1,1,1,1}
set1

{1}

In [78]:
set1.update([2,3,4,5,4,1])
set1

{1, 2, 3, 4, 5}

In [79]:
set1.add('India')
set1

{1, 2, 3, 4, 5, 'India'}

In [80]:
set1.remove('Shruti')

KeyError: 'Shruti'

In [83]:
set1.remove('India')
set1

KeyError: 'India'

In [82]:
set1.discard('India')
set1

{1, 2, 3, 4, 5}

In [87]:
# Two lists are given
# Find common and uncommon elements from the list

list1 = [5,2,3,8,6,1]
list2 = [1,6,2,9,0]

set1 = set(list1)
set2 = set(list2)
print(set1&set2)
print(set1^set2)
print(set1|set2)
print(set1-set2)

{1, 2, 6}
{0, 3, 5, 8, 9}
{0, 1, 2, 3, 5, 6, 8, 9}
{8, 3, 5}

In [88]:
#Dictionary
progLang = {
    "Py": {
        "year": 1991,
        "creator": "G. van Rossum",
    },
    "Java": {
        "year": 1995,
        "creator": "J. Gosling",
    },
    "C#": {
        "year": 2000,
        "creator": "Microsoft",
    }
}
progLang

{'Py': {'year': 1991, 'creator': 'G. van Rossum'},
 'Java': {'year': 1995, 'creator': 'J. Gosling'},
 'C#': {'year': 2000, 'creator': 'Microsoft'}}

In [99]:
for k,v in progLang.items():
    for kk in progLang[k].keys():
        if progLang[k][kk] == 1991:
         print(kk,'-',progLang[k][kk]),
        #print(kk)

year - 1991

In [108]:
# Accept a text file
# Count the words and it's occurance 
# And store it in a dictionary

filepointer = open(r'fruits.txt','r') 

list = {}

for line in filepointer:
    words = line.split(',')
    for word in words:
        if word in list.keys():
            list[word] += 1
        else:
            list[word] = 1

filepointer.close()

print(list)

{'Apple': 4, 'Guava': 5, 'Leechi': 6, 'PineApple': 5, 'Pear': 6, 'Banana': 4}

In [109]:
product = ['Book','Pen','Ruler','Box','Bag']
stock = [15,42,20,23,19]

# Create a dictionary using the product and stock list

mydict = {k:v  for k,v in zip(product,stock)}
mydict

{'Book': 15, 'Pen': 42, 'Ruler': 20, 'Box': 23, 'Bag': 19}

In [111]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT',
         'exp': 5,
         'area': 'West',
        }

list = ['name','code','exp']
mydict2 = {k:v for k,v in my_dict.items() if k not in list}
mydict2

{'city': 'delhi', 'dept': 'IT', 'area': 'West'}

In [114]:
# accept 2 numbers and display sum -  without parameters
def sums():
    n1,n2 = map(int,(input('Give 2 numbers:').split()))
    return n1+n2

print(sums())

Give 2 numbers: 23 45

68

In [123]:
# function having list as an argument and return a dictionary

# function to add elements of the list

def list2dict(list):
    return {k:k*k for k in list}

def sumList(list):
    j = 0
    for i in list:
        j = j+int(i)
    return j

list = [1,2,3,4,5,6]
print(list2dict(list))
print(sumList(list))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
21